*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/.sbtboot/
project/.boot/
project/.ivy/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea*
*.iml
files
